<html>
  <head>
    <title>New Message Form</title>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <h1>Write a new message!</h1>
    <form method="POST" action="/new">
      <label for="name">
        Your name:
        <input type="text" id="name" name="name" />
      </label>
      <label for="msg">
        Your message:
        <input type="text" id="msg" name="msg" />
      </label>
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>
